<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Matematica"
            tools:targetApi="31">
        <activity
                android:name=".juegos.JuegoAdivinanzas"
                android:exported="false"/>
        <activity
                android:name=".juegos.JuegoX0"
                android:exported="false"/>
        <activity
                android:name=".unidad1.LeccionesAdv"
                android:exported="false"/>
        <activity
                android:name=".menu.SeleccionUnidad"
                android:exported="false"/>
        <activity
                android:name=".unidad1.DivEZ"
                android:exported="false"/>
        <activity
                android:name=".unidad1.Div"
                android:exported="false"/>
        <activity
                android:name=".unidad1.MultEZ"
                android:exported="false"/>
        <activity
                android:name=".unidad1.Mult"
                android:exported="false"/>
        <activity
                android:name=".unidad1.RestaEZ"
                android:exported="false"/>
        <activity
                android:name=".unidad1.Resta"
                android:exported="false"/>
        <activity
                android:name=".unidad1.SumaEZ"
                android:exported="false"/>
        <activity
                android:name=".unidad1.Suma"
                android:exported="false"/>
        <activity
                android:name=".unidad1.Lecciones"
                android:exported="false"/>
        <activity
                android:name=".unidad1.SeleccionDificultad"
                android:exported="false"/>
        <activity
                android:name=".menu.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>